.gt-mog
    display flex
    flex-wrap wrap
    flex-direction column
    > *:not(.sty):not(.sty):not(.sty):not(mdc-dialog)
        margin var(--gt-default-margin)
    .gt-mog-mode-row
        display flex
        .gt-mog-mode:not(.sty)
            flex-grow 1
            flex-basis 0
            margin-right var(--gt-default-margin)
        .gt-mog-players-count:not(.sty)
            flex-grow 0
            flex-basis 6rem
            max-width 6rem
            margin-left var(--gt-default-margin)
            > input
                max-width 6rem
    .gt-mog-btn-open-servers-filter-tooltip
        flex-basis 100%
        > .gt-mog-btn-open-servers-filter
            width 100%
