.gt-mod
    display flex
    flex-grow 1
    margin var(--gt-default-margin)
    margin-right 0
    .gt-mod-content
        flex-grow 1
    > div:first-child
        > div:nth-child(2)
            margin-bottom var(--gt-default-margin)
            & ~ div
                font-size 0.9rem
                color var(--gt-text-secondary)
 