.gt-otns
    display flex
    flex-direction column
    .gt-otns-content
        display flex
        flex-grow 1
        .gt-otns-tabs-list
            width 10rem
            margin var(--gt-default-margin)
            display flex
            flex-direction column
            > gt-list
                flex-grow 1
            .gt-otns-tabs-list-item
                padding var(--gt-default-margin)
        .gt-otns-tabs-content
            margin var(--gt-default-margin)
            flex-grow 1
