.gt-or
    display flex
    flex-direction column
    height 100%
    > div
        overflow auto
        padding-bottom 1rem
    mdc-radio
        display flex
    .gt-or-btn-reset-regions
        margin var(--gt-default-margin)
        align-self flex-start
        flex-shrink 0
