.gt-sct:not(.sty)
    display flex
    padding 0
    position relative
    max-width unset
    font-size unset
    .gt-sct-display
        flex-grow 1
    .gt-sct-dropdown
        width 100%
        position absolute
        top calc(100% + 1px)
        height 15rem
    .mdc-select__menu
        max-height unset
